<div class="asset-file">
  <ul class="file-list">
    {{#file}}
      <li>
        <img src="/assets/{{ . }}" width="200" />
        <input type="hidden" name="file" value="{{ . }}" />
        <a href="#" class="remove">Remove</a>
      </li>
    {{/file}}
  </ul>
  <div class="uploader">
    <noscript>
        <p>Please enable JavaScript to use file uploader.</p>
    </noscript>
  </div>
</div>
<div contenteditable name="caption" placeholder="Caption...">{{#if caption}}{{{ caption }}}{{else}}Caption...{{/if}}</div>
<div contenteditable name="credit" placeholder="Credit...">{{#if credit}}{{{ credit }}}{{else}}Credit...{{/if}}</div>