{% extends "layouts/_html.twig" %}

{% block base %}
<div class="header">
  <ul class="utility">
    <li><a href="#">Mark Huot</a></li>
  </ul>
  <div class="title row-fluid">
    <div class="span12">
      <h1>Keystone <small>USHMM</small></h1>
    </div>
  </div>
</div>
<div class="page with-save">
  <div class="crumbs clearfix" data-spy="affix" data-offset-top="150">
    <ul class="pull-left">
      <li><a href="{{ url_to_route('dashboard') }}">Home</a></li>
      {% for crumb in crumbs %}
        <li>
          {% if crumb[0] %}<a href="{{ crumb[0] }}">{% else %}<span>{% endif %}
            {{ crumb[1] }}
          {% if crumb[0] %}</a>{% else %}</span>{% endif %}
        </li>
      {% endfor %}
    </ul>
    <a class="btn pull-right" href="#" data-action="edit-layout">Edit</a>
  </div>
  <div class="container-fluid">
    {% if sess('message') %}
      <div class="alert alert-{{ sess('message_type') }}">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{ sess('message') }}
      </div>
    {% endif %}
    {% block content %}{% endblock %}
  </div>
</div>
{% endblock %}