{% extends "layouts/_base.twig" %}

{% set crumbs = [
  [url_to_route('content'), 'Content'],
  [null, page.title],
] %}

{% block css %}
  {{ parent() }}
  <style type="text/css">
    {{ css_assets()|raw }}
  </style>
{% endblock %}

{% block javascript %}
  {{ parent() }}
	<script type="text/javascript">
    {{ javascript_assets()|raw }}
  </script>
{% endblock %}

{% block page_preamble %}
  <form action="{{ url_to_route('content_save', page.id)|with_query_string }}" method="post">
{% endblock %}

{% block crumb_navigation %}
<ul class="crumb-navigation">
  <li><a {{ route() == 'content_edits' ? 'class="active"' : '' }} href="{{ url_to_route('content_edit', [page.id, 'layout'])|with_query_string }}"><i class="icon-columns"></i> <span class="title">Layout</span></a></li>
  <li><a {{ route() == 'content_edits' ? 'class="active"' : '' }} href="{{ url_to_route('content_edit', [page.id, 'content'])|with_query_string }}"><i class="icon-file"></i> <span class="title">Content</span></a></li>
  <li><a {{ route() == 'content_edits' ? 'class="active"' : '' }} href="{{ url_to_route('content_edit', [page.id, 'settings'])|with_query_string }}"><i class="icon-cog"></i> <span class="title">Settings</span></a></li>
  <li><a {{ route() == 'content_edits' ? 'class="active"' : '' }} href="{{ url_to_route('content_edit', [page.id, 'settings'])|with_query_string }}"><i class="icon-globe"></i> <span class="title">Translations</span></a></li>
  <li><a {{ route() == 'content_edits' ? 'class="active"' : '' }} href="{{ url_to_route('content_edit', [page.id, 'revisions'])|with_query_string }}"><i class="icon-undo"></i> <span class="title">Revisions</span></a></li>
</ul>
{% endblock %}

{% block crumb_actions %}
  <div class="crumb-actions pull-right">
    <button class="btn" href="#" data-action="edit">Edit</button>
    <div class="btn-group">
      <button name="page[publish]" value="0" class="btn {{ page.published_id == page.revision_id ? 'btn-success': '' }}">{{ page.published_id == page.revision_id ? '<i class="icon-save"></i>' : '' }} Save Draft</button>
      <button name="page[publish]" value="1" class="btn {{ page.published_id != page.revision_id ? 'btn-success': '' }}">{{ page.published_id == page.revision_id ? '' : '<i class="icon-ok"></i>' }} {{ page.published_id == page.revision_id ? 'Published' : 'Publish' }}</button>
    </div>
  </div>
{% endblock %}

{% block content %}
  <input type="hidden" name="redirect" value="{{ redirect }}" />
  <input type="hidden" name="page[id]" value="{{ page.id }}" />
  <input type="hidden" name="page[language]" value="en-us" />
  <input type="hidden" name="page[layout]" value="{{ page.layout.name }}" />
  
  {% if val('revision') %}
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">×</button>
    You&rsquo;re viewing an older version of this page.
  </div>
  {% endif %}

  {% block formbody %}{% endblock %}
{% endblock %}

{% block page_postscript %}
</form>
{% endblock %}