{% extends "layouts/_base.twig" %}

{% set crumbs = [
  [url_to_route('content'), 'Content'],
  [null, page.title],
] %}

{% block page_preamble %}
  <form action="{{ url_to_route('content_save', page.id)|with_query_string }}" method="post">
{% endblock %}

{% block crumb_navigation %}
<ul class="crumb-navigation">
  <li><a {{ route() == 'content_edit_layout' ? 'class="active"' : '' }} href="{{ url_to_route('content_edit_layout', page.id)|with_query_string }}"><i class="icon-columns"></i> <span class="title">Layout</span></a></li>
  <li><a {{ route() == 'content_edit_content' ? 'class="active"' : '' }} href="{{ url_to_route('content_edit_content', page.id)|with_query_string }}"><i class="icon-file"></i> <span class="title">Content</span></a></li>
  <li><a {{ route() == 'content_edit_settings' ? 'class="active"' : '' }} href="{{ url_to_route('content_edit_settings', page.id)|with_query_string }}"><i class="icon-cog"></i> <span class="title">Settings</span></a></li>
  <li><a {{ route() == 'content_edit_translations' ? 'class="active"' : '' }} href="{{ url_to_route('content_edit_settings', page.id)|with_query_string }}"><i class="icon-globe"></i> <span class="title">Translations</span></a></li>
  <li><a {{ route() == 'content_edit_revisions' ? 'class="active"' : '' }} href="{{ url_to_route('content_edit_revisions', page.id)|with_query_string }}"><i class="icon-undo"></i> <span class="title">Revisions</span></a></li>
</ul>
{% endblock %}

{% block crumb_actions %}
  <div class="crumb-actions pull-right">
    <button class="btn" href="#" data-action="edit">Edit</button>
    <div class="btn-group">
      <button name="page[publish]" value="0" class="btn {{ page.published_id == page.revision_id ? 'btn-success': '' }}">{{ page.published_id == page.revision_id ? '<i class="icon-save"></i>' : '' }} Save Draft</button>
      <button name="page[publish]" value="1" class="btn {{ page.published_id != page.revision_id ? 'btn-success': '' }}">{{ page.published_id == page.revision_id ? '' : '<i class="icon-ok"></i>' }} {{ page.published_id == page.revision_id ? 'Published' : 'Publish' }}</button>
    </div>
  </div>
{% endblock %}

{% block content %}
  
  <input type="hidden" name="redirect" value="{{ redirect }}" />
  <input type="hidden" name="page[language]" value="en-us" />
  <input type="hidden" name="page[layout]" value="{{ page.layout.name }}" />
  
  {% if val('revision') %}
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">×</button>
    You&rsquo;re viewing an older version of this page.
  </div>
  {% endif %}

  {% block formbody %}{% endblock %}
{% endblock %}

{% block page_postscript %}
</form>
{% endblock %}

{% block stylesheets %}
	<style type="text/css">
		{{ field_css|raw }}
	</style>
	{{ parent() }}
{% endblock %}

{% block javascript %}
	<script class="handlebars-template" data-name="field_chooser" type="text/x-handlebars-template">
	  <div class="modal hide fade field-chooser" data-name="field_chooser">
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	      <h3>Choose a Field</h3>
	      <p>Fields describe the type of data you can store in a region.</p>
	    </div>
	    <div class="modal-body">
	      <ul class="cards">
	      	{% for field in fields %}
	      		{{ '{{' }}#inArray '{{ field }}' this.allow {{ '}}' }}<li><a class="card" href="#" data-add-field data-type="{{ field }}">{{ '{{' }}> field.{{ field }}.icon{{ '}}' }}{{ field }}</a></li>{{ '{{' }}/inArray{{ '}}' }}
	      	{% endfor %}
	      </ul>
	    </div>
	  </div>
	</script>
	{% raw %}
	<script class="handlebars-template" data-name="field" type="text/x-handlebars-template">
	  <div class="field field-{{ field.type }}" data-type="{{ field.type }}" data-name="{{ field.name }}">
	    <input type="hidden" name="type" value="{{ field.type }}" />
	    <div class="keystone-ui-helper">
	    	{{{ fieldIcon field.type }}}
	    </div>
	    <div class="field-content">
	      {{{ content }}}
	    </div>
	    {{#if topLevel}}
		    <div class="actions">
		    	<a href="#" class="move"><i class="icon-move"></i></a>
		    	<a href="#" class="more"><i class="icon-cog"></i></a>
		    </div>
	    {{/if}}
	  </div>
	</script>
	{% endraw %}
	{{ field_templates|raw }}
	{{ parent() }}
	<script>
		{{ field_javascript|raw }}
	</script>
{% endblock %}