{% extends "content/_layout_edit.twig" %}

{% set redirect = {'redirect':['content_layout', page.id]} %}

{% block formbody %}
  <div class="page-header">
    <h1>Page Layout</h1>
  </div>
  <ul class="cards">
    {% for layout in layouts %}
    <li>
      <input type="radio" id="layout-{{layout.name}}" name="page[layout]" value="{{layout.name}}" {{ page.layout.name == layout.name ? 'checked="true"' : '' }} />
      <label for="layout-{{layout.name}}" class="card">
        <div class="img"><img src="http://placehold.it/150x200" /></div>
        {{ ucfirst(layout.label) }}
      </label>
    </li>
    {% endfor %}
  </ul>
{% endblock %}