{% extends "content/_layout_list.twig" %}

{% block content %}
  <div class="page-header">
    <h1>Content</h1>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Title <a href="#"><i class="icon-sort"></i></a></th>
        <th width="10%">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for page in pages %}
      <tr>
        <td><a href="{{ url_to_route('content_edit_content', page.id) }}">
        <span class="singleline">
        <span class="label label-warning">{{ page.published ? 'Published' : 'Draft' }}</span>
        <strong>{{ page.title }}</strong> <span class="excerpt">{{ page.excerpt }}</span></span></a></td>
        <td><span class="meta">{{ page.updated_since|date }}</span></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}