{% extends "layouts/_base.twig" %}

{% set crumbs = [
  [null, "Content"],
] %}

{% block crumb_navigation %}
<ul class="crumb-navigation">
  <li><a class="active" href="{{ url_to_route('content_edit_layout', page.id)|with_query_string }}"><i class="icon-list"></i> <span class="title">List</span></a></li>
  <li><a href="{{ url_to_route('content_edit_content', page.id)|with_query_string }}"><i class="icon-sitemap"></i> <span class="title">Sitemap</span></a></li>
</ul>
{% endblock %}

{% block crumb_actions %}
  <div class="crumb-actions pull-right">
    <a class="btn btn-success pull-right" href="{{ url_to_route('content_new') }}"><i class="icon-plus"></i> Add Content</a>
  </div>
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>Content</h1>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="5%">#</th>
        <th width="20%">Title <a href="#"><i class="icon-sort"></i></a></th>
        <th>Excerpt</th>
      </tr>
    </thead>
    <tbody>
      {% for page in pages %}
      <tr>
        <td><a href="{{ url_to_route('content_edit_content', page.id) }}">{{ page.id }}</a></td>
        <td><a href="{{ url_to_route('content_edit_content', page.id) }}"><span class="singleline">{{ page.title }}</span></a></td>
        <td><a href="{{ url_to_route('content_edit_content', page.id) }}"><span class="singleline">{{ page.excerpt }}</span></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}