{% extends "layouts/_base.twig" %}

{% set redirect = 'content_edit_layout' %}
{% set crumbs = [[url_to_route('content'), 'Content']] %}

{% block content %}
<form action="{{ url_to_route('content_save') }}" method="post">
  <div class="page-header">
    <h1>Page Layout</h1>
  </div>
  <ul class="cards">
    {% for layout in layouts %}
    <li>
      <input type="radio" id="layout-{{layout}}" name="page[layout]" value="{{layout}}" />
      <label for="layout-{{layout}}" class="card">
        <div class="img"><img src="http://placehold.it/150x200" /></div>
        {{ ucfirst(layout) }}
      </label>
    </li>
    {% endfor %}
  </ul>

  <div class="fixed-form-actions">
    <div class="form-actions">
      
      <div class="pull-right">
        <button class="btn btn-success"> Create Page</button>
      </div>
    </div>
  </div>
</form>
{% endblock %}