<div
	contenteditable
	name="content"
	placeholder="{{#if config.placeholder}}{{{config.placeholder}}}{{else}}Content...{{/if}}"
>
	{{#if content}}
		{{{ content }}}
	{{else}}
		{{#if config.placeholder}}
			{{{config.placeholder}}}
		{{else}}
			Content...
		{{/if}}
	{{/if}}
</div>