{% extends "layouts/_base.twig" %}

{% set crumbs = [
  [null, "Content"],
] %}

{% block crumb_navigation %}
<ul class="crumb-navigation">
  <li><a {{ route() == 'content_list' ? 'class="active"' : '' }} href="{{ url_to_route('content_list') }}" title="List by date"><i class="icon-list"></i> <span class="title">List</span></a></li>
  <li><a {{ route() == 'content_listlayout' ? 'class="active"' : '' }} href="{{ url_to_route('content_tree') }}?uri=" title="List by layout"><i class="icon-columns"></i> <span class="title">Layout</span></a></li>
  <li><a {{ route() == 'content_tree' ? 'class="active"' : '' }} href="{{ url_to_route('content_tree') }}?uri=" title="List by menu path"><i class="icon-sitemap"></i> <span class="title">Sitemap</span></a></li>
</ul>
{% endblock %}

{% block crumb_actions %}
  <div class="crumb-actions pull-right">
    <a class="btn btn-success pull-right" href="{{ url_to_route('content_new') }}"><i class="icon-plus"></i> Add Content</a>
  </div>
{% endblock %}