{% extends "content/_layout_edit.twig" %}

{% set title = revision.title %}
{% set redirect = {'redirect': ['content_edit', page.id, screen]} %}

{% block page_preamble %}
  <form action="{{ url_to_route('content_add_field', [page.id, screen, region.name]) }}" method="post">
{% endblock %}

{% block formbody %}
	<div class="page-header">
		<h1>Choose a Field</h1>
    <p>Fields describe the type of data you can store in a region.</p>
	</div>
  <div class="field-chooser" data-name="field_chooser">
    <div class="modal-body">
      <ul class="cards">
      	{% for field in allowedFields %}
      		<li><button class="card" data-add-field data-type="{{ field }}" name="type" value="{{ field }}">{{ field }}.icon {{ field }}</button></li>
      	{% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}