{% extends "content/_layout_list.twig" %}

{% block crumb_actions %}
  <div class="crumb-actions pull-right">
    <a class="btn" data-action="edit" href="#">Edit</a>
    <a class="btn btn-success" href="{{ url_to_route('content_new') }}?page%5Bparent%5D={{ val('uri') }}"><i class="icon-plus"></i> Add Content Here</a>
  </div>
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>
      Content 
      {% if tree %}
        <small>
          <a href="{{ url_to_route('content_tree') }}?uri=">Home</a> /
          {% for crumb in tree %}
            {% if loop.index != loop.length %}
              <a href="{{ url_to_route('content_tree') ~ '?uri=' ~ crumb.uri }}">
            {% endif %}
            {{ crumb.title }}
            {% if loop.index != loop.length %}
              </a> / 
            {% else %}
              &hellip;
            {% endif %}
          {% endfor %}
        </small>
      {% endif %}
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th width="10%">Status</th>
        <th width="10%">Type</th>
        <th width="10%">Date <a href="#"><i class="icon-sort-down"></i></a></th>
        <th class="navigate" width="5%"></th>
        <th class="move" width="5%"></th>
        <th class="actions" width="5%"></th>
      </tr>
    </thead>
    <tbody>
      {% for page in pages %}
      <tr data-sortable data-id="{{ page.id }}">
        {% include "content/_list_title.twig" %}
        {% include "content/_list_status.twig" %}
        {% include "content/_list_type.twig" %}
        {% include "content/_list_date.twig" %}
        <td class="navigate"><a href="{{ url_to_route('content_tree') }}?uri={{ page.uri }}"><i class="icon-chevron-right"></i></a></td>
        <td class="move"><i class="icon-move"></i></td>
        <td class="actions"><i class="icon-cog"></i></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}