<div
  class="region"
  data-name="{{ region.name }}"
  data-allow="{{ region.allow|json }}"
  data-max="{{ region.max }}"
  data-min="{{ region.min }}"
  data-count="{{ region.count }}"
  data-config="{{ region.config|json }}"
>
  <div class="fields">
    {% if region.fields %}
      {% for field in region.fields %}
        {% include '@field.' ~ field.type ~ '/' ~ field.view %}
      {% endfor %}
    {% endif %}
    {% for count in region.count..min %}
      {#{ Keystone\Field::makeWithType($type=current($allow))->with(array_get($config, $type, array()))->renderForm() }#}
    {% endfor %}
  </div>
  {% if region.max == false or region.count < region.max %}
    <div class="add-field">
      <a href="{{ url_to_route('content_add_field', [page.id, screen, region.name]) }}" data-choose-field><i class="icon-plus"></i> <span>Add</span></a>
    </div>
  {% endif %}
</div>